<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> </title>
</head>
<body>
    <form action="/ventas/agregar" method="POST">
        <div class="grupo-ventas">
            <label for="">Nombre</label>
            <input type="text" class="grupo-ventas" name="nombreCliente" placeholder="Cliente">
        </div>
        <div class="grupo-ventas">
            <label for="">Telefono</label>
            <input type="number" class="grupo-ventas" name="telefono" placeholder="Telefono">
        </div>
        <div class="grupo-ventas">
            <label for="">NIT</label>
            <input type="number" class="grupo-ventas" name="nit" placeholder="NIT">
        </div>
        <div class="grupo-ventas">
            <label for="">Forma de pago</label>
            {{!-- <input type="text" class="grupo-ventas" name="tipo_pago" placeholder="Forma de pago"> --}} 
            <select name="tipo_pago">
                <option>Efectivo</option>
                <option>Tarjeta</option>
              
            </select>
        </div>
        <div class="grupo-ventas">
            <label for="">Empleado</label>
            <input type="text" class="grupo-ventas" name="empleado" placeholder="Nombre">
        </div>
        <div class="grupo-ventas">
            <label for="">Platillo de entrada</label>
            <input type="text" class="grupo-ventas" name="entrada" placeholder="Platillo">
        </div>
        <div class="grupo-ventas">
            <label for="">Plato Fuerte</label>
            <input type="text" class="grupo-ventas" name="platillo" placeholder="Platillo">
        </div>
        <div class="grupo-ventas">
            <label for="">Bebida</label>
            <input type="text" class="grupo-ventas" name="bebida" placeholder="Bebida">
        </div>
        <div class="grupo-ventas">
            <label for="">Postre</label>
            <input type="text" class="grupo-ventas" name="postre" placeholder="Postre">
        </div>

        <div class="grupo-ventas">
            <label for="">Entrada</label>
            <input type="number" class="monto" name="precioentrada" placeholder="precio" onchange="enmulti();">
        </div>
        <div class="grupo-ventas">
            <label for="">Entrada</label>
            <input type="number" class="monto " name="cantidadentrada" placeholder="Cantidad" onchange="enmulti(); ;">
        </div>

        <div class="grupo-ventas">
            <label for="">Almuerzo</label>
            <input type="number" class="monto1" name="precioalmuerzo" placeholder="precio" onchange="almulti();">
        </div>
        <div class="grupo-ventas">
            <label for="">Almuerzo</label>
            <input type="number" class="monto1 " name="cantidadalmuerzo" placeholder="Cantidad" onchange="almulti()">
        </div>

        <div class="grupo-ventas">
            
            <span>TOTAL suma </span>
                <input type="number" id="total" name="total"  readonly/>
        </div>

         <div class="grupo-ventas">
            
            <span>TOTAL multi Entrada </span>
                <input type="number" id="Costo" value="0" class="total2" onchange="sumar()" / >
        </div>

         <div class="grupo-ventas">
            
            <span>TOTAL multi Almuerzo </span>
                <input type="number" id="Costo1" value="0" class="total2" onchange="sumar()" />
        </div>
        <button>agregar</button>
    </form>
    
    <a type="button" href="/ventas/ver-ventas"><button>Ver</button></a>

    <script>
        function sumar()
            {
            const $total = document.getElementById('total');
            let subtotal = 0;
            [ ...document.getElementsByClassName( "total2" ) ].forEach( function ( element ) {
                if(element.value !== '') {
                subtotal += parseFloat(element.value);
                }
            });
            $total.value = subtotal;
            }

        function enmulti()
            {
            const $total = document.getElementById('Costo');
            let subtotal = 1;
            [ ...document.getElementsByClassName( "monto" ) ].forEach( function ( element ) {
                if(element.value !== '') {
                subtotal *= parseFloat(element.value);
                }
            });
            $total.value = subtotal;
            }
        
        function almulti()
            {
            const $total = document.getElementById('Costo1');
            let subtotal = 1;
            [ ...document.getElementsByClassName( "monto1" ) ].forEach( function ( element ) {
                if(element.value !== '') {
                subtotal *= parseFloat(element.value);
                }
            });
            $total.value = subtotal;
            }
    </script> 

    
</body>
</html>