<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>INVENTARIO</title>
    <link href="https://fonts.googleapis.com/css?family=Lobster|Nunito|Pacifico" rel="stylesheet"> 

    <link rel="preconnect" href="https://fonts.gstatic.com">

    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" href="./css/sengunda.css">
    <link rel="stylesheet" href="./css/boton.css">
    <link rel="stylesheet" href="./css/menu.css">
    <link rel="stylesheet" href="./">
   

    
</head>

<body >

    
<!--NO TOCAR -->
<!--LATERAL -->
    <div>
        <header class="Tituloosm">       
            <div class="barra">
                
            
                <div class="logo-1">
                <img class="l-log" src="./img/LOGO LE ANTIGUA.png" alt=""> 
                </div>
            

                <ul class="nav-navi">
                    <li>
                       <div class="d-logo">
                       <a href="menu.html"> <img class="d-log-1" src="./img/INICIO.png" alt="" >Inicio</a>
                        </div> 
                    </li>
    
                    <li>
                        <div class="d-logo">
                            <a href="Index.html"> <img class="d-log-1" src="./img/VENTAS1.png" alt="" >Ventas</a>
                        </div> 
                    </li>
    
                    <li>
                        <div class="d-logo">
                            <a href="Index.html"> <img class="d-log-1" src="./img/CAJA2.png" alt="" >Caja</a>
                        </div> 
                    </li>
    
                    <li>
                        <div class="d-logo">
                            <a href="Index.html"> <img class="d-log-1" src="./img/INVENTARIO1.png" alt="" >Inventario</a>
                        </div> 
                    </li>
    
                    <li>
                        <div class="d-logo">
                            <a href="Index.html"> <img class="d-log-1" src="./img/REPORTE1.png" alt="" >Reportes</a>
                        </div> 
                    </li>
    
                    <li>
                        <div class="d-logo">
                            <a href="Index.html"> <img class="d-log-1" src="./img/GRAFICA.png" alt="" >Gráficas</a>
                        </div> 
                    </li>
    
                    <li>
                        <div class="d-logo">
                            <a href="Index.html"> <img class="d-log-1" src="./img/USER.png" alt="" >Usuarios</a>
                        </div> 
                    </li>
    
                       
                </ul>
               
            </div> 
        </header>
    </div>

  

<!--SUPERIOR -->
    <div>
       
        <header class="m-superior">
        
            <nav class="nav-sup">
                
                <p class="le-ant">Le Antigua Restaurante</p>
                <ul>
                   
                    <li><a href="contacto.html">Cerrar Sesión</a></li>
                    <li><a href="Index.html">Usuario 1</a></li>
                    
                </ul>
            </nav>
        </header>
        
    </div>
<!--NO TOCAR--> 


<!--CONTENIDO CONTENIDO ACA -->
    <div class="contenido">
        <section class="wrapper">
            <p class="d-titulo">
                BIENVENIDO AL INVENTARIO
            </p>
<!--
            <div class="contenedor">
                <div class=" directos" >
                    
                    <div class="d-ingresos">
                        <div class="b-img">
                            <img class="b-directo" src="./img/VENTAS1.png" alt="">
                        </div>
                        <div class="b-tit">
                            <p>
                                VENTAS
                            </p>
                        </div>
                    </div>

                    <div class="d-ingresos">
                        <div class="b-img">
                            <img class="b-directo" src="./img/CAJA2.png" alt="">
                        </div>
                        <div class="b-tit">
                            <p>
                                CAJA
                            </p>
                        </div>
                    </div>

                    <div class="d-ingresos">
                        <div class="b-img">
                            <img class="b-directo" src="./img/INVENTARIO1.png" alt="">
                        </div>
                        <div class="b-tit">
                            <p>
                                INVENTARIO
                            </p>
                        </div>
                        -->
     <ul>
      <div class="contedorbotones"> 
        <a class="bot" href="Index.html">CREAR</a>
       <a class="bot" href="Index.html">MENU</a>
       <a class="bot" href="Index.html">ENTRADA</a>    
       <a class="bot" href="Index.html">SALIDA</a> 
    </div>
        
    </ul>
 <main>
    <table class="results">

        <tr>
            <th>No.</th>
            <th>Fecha de Ingreso</th>
            <th>Nombre</th>
            <th>Unidad</th>
            <th>Medidas</th>
            <th>Precio Unitario</th>
            <th>Precio Total</th>
            <th>Modificar</th>
            <th>Eliminar</th>
            
          </tr>

        <tr >
        
            <td>
               COLUMNA 1
            </td>
         
            <td>
                COLUMNA 2
            </td>
            <td>
                COLUMNA 3
            </td>
            <td>
                COLUMNA 4
            </td>
            <td>
                COLUMNA 5
            </td>
            <td>
                COLUMNA 6
            </td>
            <td>
                COLUMNA 7
            </td>
            <td>
                COLUMNA 8
            </td>
            <td>
                COLUMNA 9
            </td>
        </tr>
        <tr >
            <td>
                COLUMNA 1
             </td>
          
             <td>
                 COLUMNA 2
             </td>
             <td>
                 COLUMNA 3
             </td>
             <td>
                 COLUMNA 4
             </td>
             <td>
                 COLUMNA 5
             </td>
             <td>
                 COLUMNA 6
             </td>
             <td>
                 COLUMNA 7
             </td>
             <td>
                 COLUMNA 8
             </td>
             <td>
                 COLUMNA 9
             </td>
           </tr>
           <tr >
            <td>
                COLUMNA 1
             </td>
          
             <td>
                 COLUMNA 2
             </td>
             <td>
                 COLUMNA 3
             </td>
             <td>
                 COLUMNA 4
             </td>
             <td>
                 COLUMNA 5
             </td>
             <td>
                 COLUMNA 6
             </td>
             <td>
                 COLUMNA 7
             </td>
             <td>
                 COLUMNA 8
             </td>
             <td>
                 COLUMNA 9
             </td>
           </tr>
           <tr >
            <td>
                COLUMNA 1
             </td>
          
             <td>
                 COLUMNA 2
             </td>
             <td>
                 COLUMNA 3
             </td>
             <td>
                 COLUMNA 4
             </td>
             <td>
                 COLUMNA 5
             </td>
             <td>
                 COLUMNA 6
             </td>
             <td>
                 COLUMNA 7
             </td>
             <td>
                 COLUMNA 8
             </td>
             <td>
                 COLUMNA 9
             </td>
           </tr>
           <tr >
            <td>
                COLUMNA 1
             </td>
          
             <td>
                 COLUMNA 2
             </td>
             <td>
                 COLUMNA 3
             </td>
             <td>
                 COLUMNA 4
             </td>
             <td>
                 COLUMNA 5
             </td>
             <td>
                 COLUMNA 6
             </td>
             <td>
                 COLUMNA 7
             </td>
             <td>
                 COLUMNA 8
             </td>
             <td>
                 COLUMNA 9
             </td>
           </tr>
           <tr >
            <td>
                COLUMNA 1
             </td>
          
             <td>
                 COLUMNA 2
             </td>
             <td>
                 COLUMNA 3
             </td>
             <td>
                 COLUMNA 4
             </td>
             <td>
                 COLUMNA 5
             </td>
             <td>
                 COLUMNA 6
             </td>
             <td>
                 COLUMNA 7
             </td>
             <td>
                 COLUMNA 8
             </td>
             <td>
                 COLUMNA 9
             </td>
           </tr>
           <tr >
            <td>
                COLUMNA 1
             </td>
          
             <td>
                 COLUMNA 2
             </td>
             <td>
                 COLUMNA 3
             </td>
             <td>
                 COLUMNA 4
             </td>
             <td>
                 COLUMNA 5
             </td>
             <td>
                 COLUMNA 6
             </td>
             <td>
                 COLUMNA 7
             </td>
             <td>
                 COLUMNA 8
             </td>
             <td>
                 COLUMNA 9
             </td>
           </tr>
           <tr >
            <td>
                COLUMNA 1
             </td>
          
             <td>
                 COLUMNA 2
             </td>
             <td>
                 COLUMNA 3
             </td>
             <td>
                 COLUMNA 4
             </td>
             <td>
                 COLUMNA 5
             </td>
             <td>
                 COLUMNA 6
             </td>
             <td>
                 COLUMNA 7
             </td>
             <td>
                 COLUMNA 8
             </td>
             <td>
                 COLUMNA 9
             </td>
           </tr>
           <tr >
            <td>
                COLUMNA 1
             </td>
          
             <td>
                 COLUMNA 2
             </td>
           
           </tr>

    </table>

  </main>
</div>
                    

                <!--</div>-->

                <!--<div class=" directos" >-->
                    <!--
                    <div class="d-ingresos">
                        <div class="b-img">
                            <img class="b-directo" src="./img/REPORTE1.png" alt="">
                        </div>
                        <div class="b-tit">
                            <p>
                                REPORTES
                            </p>
                        </div>
                    </div>

                    <div class="d-ingresos">
                        <div class="b-img">
                            <img class="b-directo" src="./img/GRAFICA.png" alt="">
                        </div>
                        <div class="b-tit">
                            <p>
                                GRAFICAS
                            </p>
                        </div>
                    </div>
                    
                    <div class="d-ingresos">
                        <div class="b-img">
                            <img class="b-directo" src="./img/USER.png" alt="">
                        </div>
                        <div class="b-tit">
                            <p>
                                USUARIOS
                            </p>
                        </div>
                    </div>

                    
               
                </div>
                ->-->
            </div>
        </section>
    </div>



</body>
</html>
    