<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu</title>
    <link href="https://fonts.googleapis.com/css?family=Lobster|Nunito|Pacifico" rel="stylesheet"> 

    <link rel="preconnect" href="https://fonts.gstatic.com">

    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" href="./css/caja1.css">
</head>

<body >

    
<!--NO TOCAR -->
<!--LATERAL -->
    <div>
        <header class="Tituloosm">       
            <div class="barra">
                
            
                <div class="logo-1">
                <img class="l-log" src="./img/LOGO LE ANTIGUA.png" alt=""> 
                </div>
            

                <ul class="nav-navi">
                    <li>
                       <div class="d-logo">
                       <a href="Index.html"> <img class="d-log-1" src="./img/INICIO.png" alt="" >Inicio</a>
                        </div> 
                    </li>
    
                    <li>
                        <div class="d-logo">
                            <a href="Index.html"> <img class="d-log-1" src="./img/VENTAS1.png" alt="" >Ventas</a>
                        </div> 
                    </li>
    
                    <li>
                        <div class="d-logo">
                            <a href="Index.html"> <img class="d-log-1" src="./img/CAJA2.png" alt="" >Caja</a>
                        </div> 
                    </li>
    
                    <li>
                        <div class="d-logo">
                            <a href="Index.html"> <img class="d-log-1" src="./img/INVENTARIO1.png" alt="" >Inventario</a>
                        </div> 
                    </li>
    
                    <li>
                        <div class="d-logo">
                            <a href="Index.html"> <img class="d-log-1" src="./img/REPORTE1.png" alt="" >Reportes</a>
                        </div> 
                    </li>
    
                    <li>
                        <div class="d-logo">
                            <a href="Index.html"> <img class="d-log-1" src="./img/GRAFICA.png" alt="" >Gráficas</a>
                        </div> 
                    </li>
    
                    <li>
                        <div class="d-logo">
                            <a href="Index.html"> <img class="d-log-1" src="./img/USER.png" alt="" >Usuarios</a>
                        </div> 
                    </li>
    
                       
                </ul>
               
            </div> 
        </header>
    </div>

    

<!--SUPERIOR -->
    <div>
       
        <header class="m-superior">
        
            <nav class="nav-sup">
                
                <p class="le-ant">Le Antigua Restaurante</p>
                <ul>
                   
                    <li><a href="contacto.html">Cerrar Sesión</a></li>
                    <li><a href="Index.html">Usuario 1</a></li>
                    
                </ul>
            </nav>
        </header>
        
    </div>
<!--NO TOCAR--> 


<!--CONTENIDO CONTENIDO ACA -->
    <main>
        <table class="results">
        
            <tr>
                <th>No.</th>
                <th>Fecha Inicio</th>
                <th>Fecha Cierre</th>
                <th>Apertura</th>
                <th>Cierre</th>
                <th>Venta</th>
                <th>Estado</th>
              </tr>
        
            <tr >
                
                <td>
                    001
                </td>
                 
                <td>
                    01-08-2022
                </td>
                <td>
                    02-08-2022
                </td>
                <td>
                    500
                </td>
                <td>
                    4,0000
                </td>
                <td>
                    4,0000
                </td>
                <td>
                    Inactivo
                </td>
            </tr>
            <tr >
                <td>
                    001
                </td>
             
                <td>
                    01-08-2022
                </td>
                <td>
                    02-08-2022
                </td>
                <td>
                    500
                </td>
                <td>
                    4,0000
                </td>
                <td>
                    4,0000
                </td>
                <td>
                    Inactivo
                </td>
            </tr>
            <tr >
            
                <td>
                    
                </td>
                <td>
                    
                </td>
                <td>
                    
                </td>
                <td>
                    
                </td>
                <td>
                    
                </td>
                <td>
                    
                </td>
                <td>
                    
                </td>
            </tr>
    
            <tr >
            
                <td>
                    
                </td>
                <td>
                    
                </td>
                <td>
                    
                </td>
                <td>
                    
                </td>
                <td>
                    
                </td>
                <td>
                    
                </td>
                <td>
                    
                </td>
            </tr>
            <tr >
            
                <td>
                    
                </td>
                <td>
                    
                </td>
                <td>
                    
                </td>
                <td>
                    
                </td>
                <td>
                    
                </td>
                <td>
                    
                </td>
                <td>
                    
                </td>
            </tr>
            <tr >
            
                <td>
                    
                </td>
                <td>
                    
                </td>
                <td>
                    
                </td>
                <td>
                    
                </td>
                <td>
                    
                </td>
                <td>
                    
                </td>
                <td>
                    
                </td>
            </tr>
            <tr >
            
                <td>
                    
                </td>
                <td>
                    
                </td>
                <td>
                    
                </td>
                <td>
                    
                </td>
                <td>
                    
                </td>
                <td>
                    
                </td>
                <td>
                    
                </td>
            </tr>
            <tr >
            
                <td>
                    
                </td>
                <td>
                    
                </td>
                <td>
                    
                </td>
                <td>
                    
                </td>
                <td>
                    
                </td>
                <td>
                    
                </td>
                <td>
                    
                </td>
            </tr>
            <tr >
            
                <td>
                    
                </td>
                <td>
                    
                </td>
                <td>
                    
                </td>
                <td>
                    
                </td>
                <td>
                    
                </td>
                <td>
                    
                </td>
                <td>
                    
                </td>
            </tr>
            <tr >
            
                <td>
                    
                </td>
                <td>
                    
                </td>
                <td>
                    
                </td>
                <td>
                    
                </td>
                <td>
                    
                </td>
                <td>
                    
                </td>
                <td>
                    
                </td>
            </tr>
            <tr >
            
                <td>
                    
                </td>
                <td>
                    
                </td>
                <td>
                    
                </td>
                <td>
                    
                </td>
                <td>
                    
                </td>
                <td>
                    
                </td>
                <td>
                    
                </td>
            </tr>
            <tr >
            
                <td>
                    
                </td>
                <td>
                    
                </td>
                <td>
                    
                </td>
                <td>
                    
                </td>
                <td>
                    
                </td>
                <td>
                    
                </td>
                <td>
                    
                </td>
            </tr>
     
    
        </table>
    
    </main>      
                
                    
        







</body>
</html>