<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/nosotros.css">
    <title>nosotros</title>
</head>
<body>
    <header>
        <div class="logo">
            <img src="/img/Logo Lea negro.png" alt="logo">
        </div> 
        <nav><a href="inicio.html" class="nav-link">Inicio</a>
            <a href="menu.html" class="nav-link">Menú</a>
            <a href="nosotros.html" class="nav-link">Nosotros</a>
            <a href="contactanos.html" class="nav-link">Contáctanos</a> </nav>
            <div class="admin">
                <img src="/img/admin.png" alt="admin">
            </div>
    </header>
    <h1>UN POCO ACERCA DE NOSOTROS...</h1>
    <div class ="logonosotros"><img src="/img/Logo Lea negro.png" alt="logonosotros"></div>
    <p>El restaurante Le Antigua es un dinamizador de la economía local de Santiago Atitlán. 
        Emplea a más de 8 personas y abastece su materia prima con una selección de proveedores orgánicos locales.</p>
    <h1>UBICACIÓN</h1>
    <p>03 Av. Zona 1, a la par del Banrural, Santiago Atitlán, Guatemala</p>
    <div class="imagenes">
        <img class="local" src="img/local.jpg" alt="local">

       <img class="local2" src="img/local 2.jpg" alt="local2"></div>
    <footer class="piepagina">
        <div class="enlaces">
            <a href="nosotros.html" class="nav-link">Nosotros</a>
            <a href="contactanos.html" class="nav-link">Contáctanos</a>
        </div>
        <div class="box">
            <h1>Síguenos y escríbenos en:</h1>
            <div class="redessociales">
                <a href="https://www.facebook.com/profile.php?id=100063476289604" target="_blank"><img src="/img/facebook.png" alt="facebook"></a>
                <a href="https://api.whatsapp.com/message/QOBWTZRW32SYA1?autoload=1&app_absent=0" target="_blank"><img src="/img/whatsapp.png" alt="whatsapp"></a>
                <img src="/img/instagram.png" alt="instagram">
            </div>
        </div>
    </footer>
</body>
</html>